# Godot 4+ specific ignores
.godot/
/android/
(do not use)gdscript_experiments.tscn
gdscript_experiments.gd
*.tmp
builds/CacheVenture - Guardians of the Memory.pck
builds/CacheVenture - Guardians of the Memory.exe
builds/
